html,body {

margin:0;
padding:0;
height:100%
width:100%

}

#background_image {
left:0px;
position:relative;
width:100%

}




h1,h2 {
  text-align:center;
  
}

.description{
  margin-left: auto;
  margin-right: auto;
  width:60%;
  text-align:justify;
  
}

#container1B {
  margin-left: auto;
  margin-right: auto;
  width:300px;
  
}

#container2B {
  margin-left: auto;
  margin-right: auto;
  width:600px;
  
}

svg{
    display: block;
    margin: auto;
}

#container {
margin-left: auto;
margin-right: auto;

position:relative;
width:450px;
height:400px;
top:10px;
}

#h00 {

position:relative;
height:4.1666%;
width:10%;
background-color:yellow;

}

#h01 {

position:relative;
height:4.1666%;
width:10%;
background-color:black;
color:white;
}

.indicator {

position:absolute;
left:-100px;
height:10%;
width:21%;
background-color:blue;
color:white;
line-height:15px;
text-align:center;

}

.text_indicator {

margin-top:6px;

}

.frise p {

text-align:center;
font-family:Digital-7;
padding:0px;
margin:0px;
border:0px;
font-size:16px;

}


img {

position: absolute;
top:0px;
left:11%;
height=300px;

}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

td
{
    border: 1px solid black;
}
